@import './mixins-and-variables.scss';

.nav{
    @include align-flex(row);
    position: fixed;
    width: 100%;
    bottom: 20px;
    z-index: 9;
    .buttons{
        background-color: $navbar-color;
        padding: 5px 10px;
        border-radius: 100px;
        @include align-flex(row);
        gap: 5px;
        .link{
            font-size: 16px;
            font-weight: 400;
            padding: 10px;
            border-radius: 200px;
            font-family: $font-barlow;
            background-color: transparent;
            color: white;
            position: relative;
            transition: transform 0.3s ease-out;
            @media (max-width: 600px){
                font-size: 14px;
            }
            @media (max-width: 400px){
                font-size: 8px;
            }
            &:hover{
                background: $button-navbar-color;
                color: black;
                transform: scale(1.1);
            }
        }
    }
}
.top{
    position: fixed;
    z-index: 9;
    top: 30px;
    right: 30px;
    @include align-flex(column);
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 10px;
    background-color: rgb(175, 175, 175);
    @media (max-width: 600px){
        top: 10px;
        right: 15px;
    }
    svg{
        width: 20px;
        height: 20px;
        @media (max-width: 600px){
            height: 15px;
            width: 15px;
        }
    }
}