@import './mixins-and-variables.scss';

.home{
    position: relative;
    .open{
        border: 1px solid black;
        width: 140px;
        position: absolute;
        left: 40px;
        top: 40px;
        border-radius: 100px;
        @include align-flex(row);
        justify-content: space-between;
        padding: 5px 10px;
        @media (max-width: 600px){
            width: 105px;
        }
        p{
            font-size: 14px;
            margin: 0;
            font-family: $font-barlow;
            font-weight: 500;
            @media (max-width: 600px){
                font-size: 10px;
            }
        }
        span{
            width: 6px;
            height: 6px;
            border-radius: 100px;
            background-color: $color-icon-open;
            &::before{
                content: '';
                width: 95%;
                height: 95%;
                border-radius: 100%;
                background-color: rgba($color-icon-open, 0.25);
                animation: pulse 3s infinite ease-in-out;
                display: block;
            }
        }
    }
    .text{
        position: absolute;
        left: 100px;
        top: 150px;
        @media (max-width: 600px){
            left: 75px;
            top: 100px;
        }
        @media (max-width: 400px){
            left: 50px;
        }
        h1{
            font-family: $font-italiano-cursiva;
            font-size: 65px;
            margin: 0;
            padding: 0;
            font-weight: 500;
            color: $renatoalves-color;
            text-shadow: 5px 5px 5px gray;
            @media (max-width: 1000px){
                font-size: 50px;
            }
            @media (max-width: 700px){
                font-size: 40px;
            }
            @media (max-width: 600px){
                font-size: 20px;
            }
        }
        p{
            font-family: $font-barlow;
            font-size: 25px;
            margin: 0;
            margin-left: 100px;
            font-weight: 400;
            @media (max-width: 1000px){
                font-size: 20px;
            }
            @media (max-width: 700px){
                margin-left: 50px;
                font-size: 15px;
            }
            @media (max-width: 600px){
                font-size: 10px;
                margin-left: 25px;
            }
        }
    }
}

@keyframes pulse{
    0%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(3.5);
    }
    100%{
        transform: scale(0.95);
    }
}