@import './mixins-and-variables.scss';

.home{
    position: relative;
    .open{
        border: 1px solid black;
        width: 140px;
        position: absolute;
        left: 40px;
        top: 40px;
        border-radius: 100px;
        @include align-flex(row);
        justify-content: space-between;
        padding: 5px 10px;
        @media (max-width: 600px){
            width: 105px;
            top: 20px;
            left: 20px;
        }
        p{
            font-size: 14px;
            margin: 0;
            font-family: $font-barlow;
            font-weight: 500;
            @media (max-width: 600px){
                font-size: 10px;
            }
        }
        span{
            width: 6px;
            height: 6px;
            border-radius: 100px;
            background-color: $color-icon-open;
            &::before{
                content: '';
                width: 95%;
                height: 95%;
                border-radius: 100%;
                background-color: rgba($color-icon-open, 0.25);
                animation: pulse 3s infinite ease-in-out;
                display: block;
            }
        }
    }
}

@keyframes pulse{
    0%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(3.5);
    }
    100%{
        transform: scale(0.95);
    }
}